.losses__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  .losses__item {
    margin: 20px 40px 20px 40px;
    border: 1px none;
    border-radius: 31.2016px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90.71deg, rgba(245, 245, 245, 0.67) 0%, rgb(255, 255, 255) 100%);
    justify-content: center;

    &_img {
      width: 70%;
      margin: 15px;
    }

    .current__wrapper {
      width: 255.71px;
      height: 135.74px;
      border-radius: 0 0 31px 31px / 0px 0px 31px 31px;
      background-color: rgba(255, 0, 0, 0);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .current__title {
        font-size: 25px;
        margin: 0;

      }

      .increase {
        font-size: 30px;
        font-weight: bold;
        color: red;
      }

      .quantity {
        color: rgba(0, 0, 0, 0.89);
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.change__lang {
  display: flex;
  margin: 0 !important;
  align-items: end;
}

@media (max-width: 730px) {
  .header__wrapper {
    margin: 0 0 0 20px;
  }
  .losses__list {
    .losses__item {
      background: linear-gradient(90.71deg, rgba(245, 245, 245, 0.2) 0%, rgba(255, 255, 255, 0.16) 100%);

      height: 70px;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_img {
        height: 60px;
        width: auto;
        margin: 5px;
      }

      .current__wrapper {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-around;
      }
    }
  }

  .title {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .losses__list {
    .losses__item {
      background: linear-gradient(90.71deg, rgba(245, 245, 245, 0.2) 0%, rgba(255, 255, 255, 0.16) 100%);
      margin: 5px;
      height: 50px;
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_img {
        height: 35px;
        width: auto;
        margin: 5px;
      }

      .current__wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 15.734px;
        justify-content: space-around;
        .current__title{
          font-size: 15px;
        }
        .increase{
          font-size: 18px;
        }

      }

    }
  }
}
