.losses__list {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;



  .losses__item {
    margin: 20px 40px 20px 40px;
    width: 286px;
    height: 367px;
    border: 1px none;
    border-radius: 31.2016px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90.71deg, rgba(245, 245, 245, 0.67) 0%, rgb(255, 255, 255) 100%);
    justify-content: space-around;
    &_img {
      width: 70%;
      margin: 15px;
    }

    .current__wrapper {
      width: 255.71px;
      height:135.74px;
      border-radius: 0 0 31px 31px / 0px 0px 31px 31px;
      background-color: rgba(255, 0, 0, 0);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .quantity {
        color: rgba(0, 0, 0, 0.89);
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

.change__lang {
  display: flex;
  margin: 0 !important;
  align-items: end;
}

@media (min-width: 400px) {
  .header__wrapper{
    margin: 0 0 0 20px;
  }
 .title{
   font-size: 30px;
 }
}