*{
  margin: 0 auto;
}

body{
  background-image: url("./assets/images/ua.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  margin: 50px 0;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {

  max-width: 1280px;
  justify-content: center;
  align-items: center;
  display: block;
}




