
body{
  background-image: url("./assets/images/ua.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  margin: 50px 0;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-around;
  position: relative;
}
.header__wrapper{
  display: block;
  width: 600px;
}
.App-header__logo{
  height:  200px;
  width: 200px;
}

.logo__img{
  width: 100%;
}


.container {

  max-width: 1280px;
  justify-content: center;
  align-items: center;
  display: block;
}

.buttons__lng-group{
  display: none;
  justify-content: flex-end;
  margin: 15px;
}

.button__ukr{
  background-image: url("./assets/flags/ukraine.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 25px;
  margin: 0 10px 0 0;

}

.button__eng{
  background-image: url("./assets/flags/united-kingdom.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 25px;
}




